{#
/**
 * @file
 *
 * Default template for payment methods.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - payment_method: The rendered payment_method fields.
 *   Use 'payment_method' to print them all, or print a subset such as
 *   'payment_method.label'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ payment_method|without('label') }}
 *   @endcode
 * - payment_method_entity: The payment_method entity.
 * - payment_method_url: The payment_method URL.
 *
 * @ingroup themeable
 */
#}
<section{{ attributes }}>
  <div class="field field--name-label">
    {{ payment_method.label }}
  </div>

  {# Hopefully this will be added in the next versions of commerce. #}
  {% if payment_method_entity.expiresTime|format_date('timestamp') != 0 %}
    <div class="field field--name-expires">
      {{ 'Expires'|t }}
      {{ payment_method_entity.expiresTime|format_date('custom', 'n/Y') }}
    </div>
  {% endif %}

  {{ payment_method.billing_profile }}
</section>

